body {
	background-color: #202020;
	padding: 0;
	margin: 0;
	padding-right: 100px;
	position: relative;
	overflow: hidden;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Create two unequal columns that floats next to each other */
.column {
	float: left;
	height: 100vh;
}

.row {
	width: 100vw;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

#main {
	width: calc(100% - 500px);
	background-color: black;
}

#sidebar {
	width: 500px;
	box-sizing: border-box;
	padding: 0px 20px;
	font-family: sans-serif;
	background-color: hsl(200, 40%, 20%);
	color: white;
	border-left: 10px ridge #ffffff0a;
	position: absolute;
	right: 0px;
	overflow-y: scroll;
}

canvas {
	background-color: #fff;
	display: block;
	margin: 0;
}

.squarebutton {
	position: absolute;
	width: 50px;
	height: 50px;
	border: none;
	outline: none;
	border-radius: 6px;
	transition-duration: 60ms;
}

button:active {
	transform: translateY(4px);
	transition-duration: 60ms;
}

#clickType {
	background-color: #f000;
	position: absolute;
	top: 20px;
	left: 20px;
	width: 50px;
	height: 50px;
}

#clickType:hover {
	height: 400px;
}

#clickType0 { background-color:#2fa3d4; background-image:url('sprites/add.png'); }
#clickType1 { background-color:#f25f5c; background-image:url('sprites/remove.png'); }
#clickType2 { background-color:#70c1b3; background-image:url('sprites/move.png'); }
#clickType3 { background-color:#ffe066; background-image:url('sprites/center.png'); }
#clickType4 { background-color:#f9844a; background-image:url('sprites/rotate.png'); }
#clickType5 { background-color:#c05ed1; background-image:url('sprites/reflect.png'); }

#clickType1, #clickType2, #clickType3, #clickType4, #clickType5, #clickType6 {
	top: 0px;
	transition-duration: 150ms;
}

#clickType:hover #clickType1 { top: 60px; }
#clickType:hover #clickType2 { top: 120px; }
#clickType:hover #clickType3 { top: 180px; }
#clickType:hover #clickType4 { top: 240px; }
#clickType:hover #clickType5 { top: 300px; }

#resetViewButton {
	left: 80px;
	top: 20px;
	background-image: url('sprites/view.png');
	background-color: #eff7f6;
}

#downloadOBJ {
	left: 140px;
	top: 20px;
	background-image: url('sprites/download.png');
	background-color: #eff7f6;
}

#toggleTreeButton {
	left: 200px;
	top: 20px;
	background-image: url('sprites/tree.png');
	background-color: #556161;
}

#sidebarToggle {
	top: 20px;
	margin-left: -30px;
	width: 30px;
	border-radius: 6px 0px 0px 6px;
}